/example.json
/Mikkel.java
/testAlgebraWithNestedBinaryConstraints.java
/testAlgebraWithNestedBinaryConstraints.json
/testBinaryConstraintsCombinations2.java
/testBinaryConstraintsCombinations2.json
/testRootUnaryConstraintInvalid.java
/testRootUnaryConstraintInvalid.json
/testBinaryConstraintsCombinations.java
/testBinaryConstraintsCombinations.json
/testBooleanEqualInvalid.java
/testBooleanEqualInvalid.json
/testBooleanEqualValid.java
/testBooleanEqualValid.json
/testElevenGreaterTen.java
/testElevenGreaterTen.json
/testElevenLessTen.java
/testElevenLessTen.json
/testEqualInvalid.java
/testEqualInvalid.json
/testEqualValid.java
/testEqualValid.json
/testFiveTimesTenEqualFifty.java
/testFiveTimesTenEqualFifty.json
/testParameterTypes.java
/testParameterTypes.json
/testRootBinaryConstraintInvalid.java
/testRootBinaryConstraintInvalid.json
/testRootBinaryConstraintValid.java
/testRootBinaryConstraintValid.json
/testRootUnaryConstraintValid.java
/testRootUnaryConstraintValid.json
/testSubsetInvalid.java
/testSubsetInvalid.json
/testSubsetValid.java
/testSubsetValid.json
/testTenEqualTen.java
/testTenEqualTen.json
/testTenLessEleven.java
/testTenLessEleven.json
/testTenPlusTenEqualTwenty.java
/testTenPlusTenEqualTwenty.json
/testUnaryConstraintInvalid.java
/testUnaryConstraintInvalid.json
/testUnaryConstraintValid.java
/testUnaryConstraintValid.json
